@model IEnumerable<Category>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script>
        function functionConfirm(event) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'Hayır, iptal',
                reverseButtons: true,
                timer: 3000
            }).then((result) => {
                if (result.isConfirmed) {
                    $("form").submit();

                    swalWithBootstrapButtons.fire({
                        title: 'Silindi!',
                        text :'Kategori silindi.',
                        icon: 'success',
                        timer:'2000'
                        }
                    )
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'İptal edildi',
                        '',
                        'error'
                    )
                }
            })
        }
    </script>
}
<div class="container mt-3">
    <h2>List</h2>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Any())
            {
                <div class="container text-right">
                    <a type="button" class="btn btn-primary" asp-action="AddOrUpdate" asp-controller="Category">Create New Category</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>CategoryId</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.Name</td>
                                <td><a class="btn btn-primary" asp-controller="Category" asp-action="AddOrUpdate" asp-route-id="@item.CategoryId">Edit</a></td>
                                <td>
                                    <div>
                                        <form asp-action="Delete" method="post" asp-controller="Category" asp-route-id="@item.CategoryId">
                                            <button type="button" class="btn btn-danger" onclick="return functionConfirm(this)">Delete</button>
                                        </form>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="container text-right">
                    <a type="button" class="btn btn-primary" asp-action="AddOrUpdate" asp-controller="Category">Create New Category</a>
                </div>
            }
            else
            {
                <div class="alert alert-danger"> Kategori eklenmemiş..</div>

                <div class="container text-center">
                    <a type="button" class="btn btn-primary" asp-action="AddOrUpdate" asp-controller="Category">Create New Category</a>
                </div>
            }
        </div>
    </div>
</div>
